body{
    margin: 0;
    
}

.w3-sidebar {
    background-color: rgb(230,230,230);
    width : 200px;
    font-weight:bold; 


}

main {
    margin-left: 20%
}
@font-face {
    font-family: myfont;
    src: url(typo.ttf)
}

body h1 {
    font-family: myfont;
    font-size: 4em; 
}

body h2 {
    font-family: myfont;
    font-size: 2em;

}

.w3-third {
    margin-left: 15%;

}

#myButton {
    transition: transform 1s;
}

.rotate {
    transform: rotate(360deg);
    transition: transform 1s;
}
