@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

* {
            box-sizing: border-box;
        }
        
        body {
          margin: 0;
          font-family: "comfortaa";
          background-color: black;
          
        }
        
        /* Style the header */
        .header {
            background-color:rgba(255, 255, 255, 0.29);
            padding: 20px;
            text-align: center;
        }
        video { 
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            transform: translateX(-50%) translateY(-50%);
          background-size: cover;
          transition: 1s opacity;
     }
        
        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: rgba(255, 254, 245, 0.38);
            font-family: "Poiret One";
        }
        
        /* Style the topnav links */
        .topnav a {
            float: left;
            display: block;
            color: #F2F2F2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        /* Change color on hover */
        .topnav a:hover {
            background-color: #9FC4EE;
            color: black;
        }
        
   /* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    font-family: 'Poiret One';
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column h2{
    font-family: "poiret One";
}

.typewriter h1 {
    font-family: 'Comfortaa'; 
    font-size: 100px;
    color:rgb(255, 255, 255);
    overflow: hidden; 
    border-right: .15em solid #E76B91; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blinking-cursor .5s step-end infinite;
  }
  

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

 
        
        
        
        
        /* For mobile phones: */
        @media only screen and (max-width: 600px) {
        
            section {
                flex-direction: column;
                flex-wrap: nowrap;
            }
            article {
                width: 80%;
            }
        
        }
        
         /* For tablets: */
        @media only screen and (min-width: 600px) and (max-width: 900px) {
        
            article {
                width: 50%;
            }
        
        }
        
         /* For desktop: */
        @media only screen and (min-width: 900px) {
        
        }


       
          /* The typing effect */
          @keyframes typing {
            from { width: 0 }
            to { width: 100% }
          }
          
          /* The typewriter cursor effect */
          @keyframes blinking-cursor {
            from, to { border-color: transparent }
            50% { border-color: #E068A4; }
          }
        
        
